.card-file{
	position: relative;
}

.card-file-settings{
	font-size: 1.3em;
	right: 0;
	position: absolute;
	top: 0;
	transform: scale(0);
	transition: .2s all ease;
}

.card-file:hover .card-file-settings,
.card-file:focus .card-file-settings{
	right: 15px;
	top: 15px;
	transform: scale(1);
}
